Excel - Analyse des chiffres.json
{
  "name": "Excel - Analyse des chiffres",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Analyse Excel",
        "formDescription": "Arfa3 fichier Excel (.xlsx) w el workflow ya3mel analyse statistique, yeb3athlek email fih el 3bed + el moyennes + nasae7, w yخazen el data fel MySQL",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Fichier Excel",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx,.xls",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "8f73fd3e-d378-44e0-b2be-cd47ee14f0c4",
      "name": "Upload Excel",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "webhookId": "5c7183db-eb17-4095-b04a-5d70a9427a80"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Fichier_Excel",
        "options": {
          "headerRow": true
        }
      },
      "id": "37273ecf-7f57-4a9b-b6ae-54b74a64ce74",
      "name": "Extract Rows",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all rows\nconst rows = $input.all().map(i => i.json);\nconst uploadedAt = new Date().toISOString();\n\nif (rows.length === 0) {\n  return [{ json: { nombre_lignes: 0, resume_texte: 'The file is empty, no data found.', resume_html: '<p>The file is empty.</p>', students: [], stats: [] } }];\n}\n\n// Find numeric columns\nconst columns = Object.keys(rows[0]);\nconst numericColumns = [];\n\nfor (const col of columns) {\n  let numericCount = 0;\n  let total = 0;\n  for (const r of rows) {\n    const raw = r[col];\n    if (raw === null || raw === undefined || raw === '') continue;\n    const cleaned = String(raw).replace(/[^0-9.,\\-]/g, '').replace(/,/g, '.');\n    const num = parseFloat(cleaned);\n    total++;\n    if (!isNaN(num)) numericCount++;\n  }\n  if (total > 0 && numericCount / total >= 0.8) {\n    numericColumns.push(col);\n  }\n}\n\n// Compute statistics per numeric column\nconst stats = [];\nfor (const col of numericColumns) {\n  const values = [];\n  for (const r of rows) {\n    const raw = r[col];\n    if (raw === null || raw === undefined || raw === '') continue;\n    const cleaned = String(raw).replace(/[^0-9.,\\-]/g, '').replace(/,/g, '.');\n    const num = parseFloat(cleaned);\n    if (!isNaN(num)) values.push(num);\n  }\n  if (values.length === 0) continue;\n\n  const sum = values.reduce((a, b) => a + b, 0);\n  const count = values.length;\n  const moyenne = sum / count;\n  const min = Math.min(...values);\n  const max = Math.max(...values);\n\n  const sorted = [...values].sort((a, b) => a - b);\n  const mid = Math.floor(sorted.length / 2);\n  const mediane = sorted.length % 2 !== 0 ? sorted[mid] : (sorted[mid - 1] + sorted[mid]) / 2;\n\n  const variance = values.reduce((a, b) => a + Math.pow(b - moyenne, 2), 0) / count;\n  const ecartType = Math.sqrt(variance);\n\n  stats.push({\n    colonne: col,\n    somme: Math.round(sum * 100) / 100,\n    moyenne: Math.round(moyenne * 100) / 100,\n    mediane: Math.round(mediane * 100) / 100,\n    min_val: min,\n    max_val: max,\n    ecart_type: Math.round(ecartType * 100) / 100,\n    nombre_valeurs: count,\n    uploaded_at: uploadedAt,\n  });\n}\n\n// ---- Build text summary (for the AI, in English) ----\nlet resumeTexte = 'Number of rows: ' + rows.length + '\\n';\nresumeTexte += 'Columns: ' + columns.join(', ') + '\\n\\n';\nfor (const s of stats) {\n  resumeTexte += 'Column \"' + s.colonne + '\": sum=' + s.somme + ', mean=' + s.moyenne + ', median=' + s.mediane + ', min=' + s.min_val + ', max=' + s.max_val + ', std-dev=' + s.ecart_type + ', count=' + s.nombre_valeurs + '\\n';\n}\nif (stats.length === 0) resumeTexte += 'No numeric columns found in the file.\\n';\n\n// ---- Build HTML: table 1 = students, table 2 = averages ----\nlet studentsHtml = '<h2>Students table</h2>';\nstudentsHtml += '<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;font-family:Arial,sans-serif;\">';\nstudentsHtml += '<tr style=\"background:#f2f2f2;\">';\nfor (const col of columns) {\n  studentsHtml += '<th>' + col + '</th>';\n}\nstudentsHtml += '</tr>';\nfor (const r of rows) {\n  studentsHtml += '<tr>';\n  for (const col of columns) {\n    const v = (r[col] === null || r[col] === undefined) ? '' : r[col];\n    studentsHtml += '<td>' + v + '</td>';\n  }\n  studentsHtml += '</tr>';\n}\nstudentsHtml += '</table>';\n\nlet avgHtml = '<h2>Averages / Statistics table</h2>';\nif (stats.length > 0) {\n  avgHtml += '<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;font-family:Arial,sans-serif;\">';\n  avgHtml += '<tr style=\"background:#f2f2f2;\"><th>Column</th><th>Sum</th><th>Mean</th><th>Median</th><th>Min</th><th>Max</th><th>Std-dev</th><th>Count</th></tr>';\n  for (const s of stats) {\n    avgHtml += '<tr><td>' + s.colonne + '</td><td>' + s.somme + '</td><td>' + s.moyenne + '</td><td>' + s.mediane + '</td><td>' + s.min_val + '</td><td>' + s.max_val + '</td><td>' + s.ecart_type + '</td><td>' + s.nombre_valeurs + '</td></tr>';\n  }\n  avgHtml += '</table>';\n} else {\n  avgHtml += '<p>No numeric columns found in the file.</p>';\n}\n\nconst resumeHtml = '<p><b>Number of rows:</b> ' + rows.length + '</p>' + studentsHtml + '<br>' + avgHtml;\n\nreturn [{\n  json: {\n    nombre_lignes: rows.length,\n    colonnes: columns,\n    resume_texte: resumeTexte,\n    resume_html: resumeHtml,\n    students: rows,\n    stats: stats,\n  },\n}];"
      },
      "id": "dbf81516-ee66-410e-8ab0-d08321eebb42",
      "name": "Analyse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a data analysis expert. Based on the statistics provided, give clear, practical advice and recommendations in English. Focus on key conclusions and actionable insights."
            },
            {
              "content": "=Here is the statistical analysis of an Excel file:\n\n{{ $json.resume_texte }}\n\nPlease give practical advice and recommendations based on this data."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "63b5694b-9412-40e8-b559-f7fa54c08443",
      "name": "Advice AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        672,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "qr6wvWpmx4poJXQB",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=yassineweslati18@gmail.com",
        "subject": "=Excel Analysis + Advice - {{ $now.toFormat(\"dd/MM/yyyy\") }}",
        "message": "=<h1>Advice & Recommendations</h1><div style=\"white-space:pre-wrap;font-family:Arial,sans-serif;\">{{ $json.output[0].content[0].text }}</div><hr>{{ $(\"Analyse\").item.json.resume_html }}",
        "options": {}
      },
      "id": "47d17bf6-870b-4a6b-a9d7-56b6715339a8",
      "name": "Envoyer Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        0
      ],
      "webhookId": "261b7d75-cfda-4926-a75b-942fe636f8a0",
      "credentials": {
        "gmailOAuth2": {
          "id": "xYZ3Q2chBF7Ufdjm",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Upload Excel": {
      "main": [
        [
          {
            "node": "Extract Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Rows": {
      "main": [
        [
          {
            "node": "Analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse": {
      "main": [
        [
          {
            "node": "Advice AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advice AI": {
      "main": [
        [
          {
            "node": "Envoyer Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "24448134-85b8-457a-8e89-847d26bbb580",
  "meta": {
    "instanceId": "a87edde8ed49b69d53c19a8c65b5e23fe82e76ee4ce31f32214edb96d2c0a571"
  },
  "nodeGroups": [],
  "id": "4Rk9lcw4IV0daxTU",
  "tags": []
}